.nav-bar {
  height: 450px;
  width: 100vw;
  background-position: center;
  background-image: url("../src/assets/eberhard-grossgasteiger-ofxFTUWoHNY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  color: whitesmoke;
  overflow: hidden;
}
.section {
  overflow: hidden;
  padding-bottom: 20px;
}

.input {
  height: 50px;
  font-size: 16px;
  width: 730px;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  /* text-align: center; */
  padding-left: 20px;
}

.title {
  width: 97vw;
  font-family: "Open Sans", system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 5px;
}
h3 {
  font-weight: 400;
  font-size: 15px;
}

.p {
  display: flex;
  flex-direction: column;
  /* margin-left: 16%; */
}

.aside {
  height: auto;
  width: 97vw;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  padding-top: 10px;
}
.img {
  height: 400px;
  width: 440px;
}

@media screen and (max-width: 752px) {
  .title {
  }
  h3 {
    font-size: 14px;
    line-height: 15px;
  }
  h1 {
    font-size: 26px;
    padding-bottom: 2px;
    line-height: 28px;
    padding-bottom: 10px;
  }
  .p {
    margin-left: 4%;
  }
  .input {
    width: 96vw;
    font-size: 14px;
    margin-top: 8px;
  }
  .img {
    height: 300px;
    width: 260px;
  }
}
